$transition-duration: 0.3s;

html {
  font-size: $font-size-base;
  height: 100%;
}

body::before {
  pointer-events: none;
}

body {
  position: relative;
  height: auto;
  color: $gray-dark;
  background: linear-gradient(to right, $gradient-start, $gradient-end);
  scrollbar-width: none;

  @include respond("phone") {
    height: auto;
    position: static;
  }
}

.container {
  background-color: $white;
  max-width: 2000px;
  height: calc(var(--vh, 1vh) * 100);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main {
  position: relative;
  background-color: $blue-lighter;
  flex-grow: 1;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(var(--vh, 1vh) * 100);
  @include flex-align(center, center);
  transition: all $transition-duration ease-in-out;
  background: linear-gradient(
      to right,
      rgba($gradient-start, 0.2),
      rgba($gradient-end, 0.2)
    ),
    url("../../assets/img/life-background.png");
  background-size: cover;
  background-position: 50% 44%;
}

@include respond("tab-land") {
  body {
    overflow: hidden;
  }
}
