@include respond("big-desktop") {
  html {
    font-size: 58.5%;
  }
}

@include respond("large-desktop") {
  html {
    font-size: 54.8%;
  }
}

@include respond("desktop") {
  html {
    font-size: 55%; // Reduced by approx. 6%
  }

  @include respond("desktop") {
    .cards {
      display: flex; /* Ensure the parent is a flex container */
      flex-wrap: wrap; /* Enable wrapping of items */
    }
    .cards__tile {
      flex-basis: calc(
        50% - 2rem
      ); /* Each cards takes up half of the container width, minus margin */
      margin: 1rem; /* Add some even margin around cardss */
    }
  }
}

@include respond("laptop") {
  html {
    font-size: 52%; // Reduced by approx. 6%
  }

  // New code to switch cards layout to 2x2 grid
  .cards {
    flex-wrap: wrap; // Allows cardss to wrap to the next line

    .cards__tile {
      flex-basis: calc(
        50% - 20px
      ); // Each cards takes up 50% of the container width, minus a small margin
      margin: 10px; // Add some margin to separate the cardss
    }
  }
}

@include respond("small-laptop") {
  html {
    font-size: 49%; // Reduced by approx. 6%
  }
}

// @include respond("phone") {
//   body {
//     height: auto;
//     position: static;
//   }

//   .header {
//     overflow: hidden;
//   }

//   .nav.nav-active .nav__list {
//     transform: translateY(0);

//     &::after {
//       content: none;
//     }
//   }

//   .nav__toggler {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }

//   .nav__icon {
//     color: $gradient-start;

//     &--times {
//       transform: scale(1.2) translateY(-1.2px) translateX(-5px);
//       font-size: font-size(6);
//     }

//     &--bars {
//       font-size: font-size(6);
//       transform: translateY(-3.5px);
//     }
//   }

//   .nav__list {
//     top: 0;
//     right: 0;
//     width: 100%;
//     height: calc(100vh - 8rem);
//     position: absolute;
//     background-color: $navy-blue;
//     transition: $transition-base;
//     transform: translateY(-100%);
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
//   }

//   .nav__item {
//     padding: spacing(3);
//   }

//   .main {
//     overflow: visible;
//   }

//   .cards {
//     padding: spacing(2);
//     display: flex;
//     flex-wrap: nowrap;
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;
//     flex-wrap: wrap;
//     overflow-y: auto;
//   }

//   .cards {
//     box-sizing: border-box;
//     flex-basis: 80%;
//     display: flex;
//     flex-direction: column;
//   }

//   .cards__heading-1 {
//     font-size: 1.8rem;
//     top: 18.5rem;
//     left: 6.9rem;
//     width: 75%;
//   }
// }
