
@include respond("ultrawide") {
  body {
    font-size: 80%;
  }
  .projects__tile {
    @include tile-size(3.5);
  }

  .projects__heading-1 {
    font-size: font-size(3);
    top: 18rem;
    left: 6rem;
    width: 75%;
  }
}

@include respond("big-desktop") {
  .projects__tile {
    // fix from .projects__title
    @include tile-size(3);
    
  }
}

@include respond("large-desktop") {
  body {
    font-size: 75%;
  }
  .projects__heading-1 {
    font-size: font-size(1.6);
  }
  .projects__tile {
    @include tile-size(2.5);
  }
}

.desktop {
  font-size: 65%;

  .projects {
    flex-wrap: wrap;
    row-gap: spacing(3);
    align-content: center;
    
    &__tile {
      @include tile-size(2);
    }

    &__heading-1 {
      font-size: font-size(2);
      top: 20rem;
      left: 7rem;
      width: 75%;
    }
  }
}

@include respond("laptop") {
  body {
    font-size: 60%;
  }
  .projects {
    flex: 0 0 auto;
    flex-wrap: wrap;    
    justify-content: center;
    align-content: center;
    gap: spacing(6);
    align-content: center;
    &__tile {
     flex: 0 1 calc(40% - 4.6rem);  // Reduced width
      min-height: calc(50% + -7rem);
    }
    &__heading-1 {
      font-size: font-size(2.5);
      top: 25rem;
      left: 8rem;
      width: 75%;
    }
  }
}


@include respond("chromebook") {
  body {
    overflow: hidden;
  }
}

@include respond("tab-port") {
  // Your styles...
}

@include respond("tablet") {
}

@include respond("phone") {
  body {
    height: auto;
    position: static;
  }

  .header {
    overflow: hidden;
  }

  .nav.nav-active .nav__list {
    transform: translateY(0);

    &::after {
      content: none;
    }
  }

  .nav__toggler {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav__icon {
    color: $gradient-start;

    &--times {
      transform: scale(1.2) translateY(-1.2px) translateX(-5px);
      font-size: font-size(6);
    }

    &--bars {
      font-size: font-size(6);
      transform: translateY(-3.5px);
    }
  }

  .nav__list {
    top: 0;
    right: 0;
    width: 100%;
    height: calc(100vh - 8rem);
    position: absolute;
    background-color: $navy-blue;
    transition: $transition-base;
    transform: translateY(-100%);
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .nav__item {
    padding: spacing(3);
  }

  .projects__tile {
    flex-basis: 80%;
    flex-direction: column;
    min-height: 40rem;
    margin: spacing(3) 0;

    &:first-child {
      margin-top: spacing(6);
    }

    &:last-child {
      margin-bottom: spacing(6);
    }
  }
}
