//1900
@include respond("ultrawide") {
  body {
    font-size: 80%;
  }
  .projects__tile {
    @include tile-size(3.75);
  }

  .projects__heading-1 {
    font-size: font-size(3);
    top: 18rem;
    left: 6rem;
    width: 75%;
  }
}
//1800
@include respond("big-desktop") {
  body {
    font-size: 75%;
  }
  .projects__tile {
    @include tile-size(3.25);
  }

  .projects__heading-1 {
    font-size: 2rem;
    top: 16rem;
    left: 6rem;
    width: 75%;
  }
}
//1573
@include respond("large-desktop") {
  body {
    font-size: 75%;
  }
  .projects__subheading {
    font-size: font-size(1.5);
  }
  .projects__heading-1 {
    font-size: font-size(1.6);
  }
  .projects__tile {
    @include tile-size(3);
  }
  .projects__heading-1 {
    font-size: 1.6rem;
    top: 18rem;
    left: 8rem;
    width: 75%;
  }
}
//2 by 2 grid
//1415
@include respond("desktop") {
  body {
    font-size: 70%;
  }

  .projects {
    flex-wrap: wrap;
    row-gap: spacing(3);
    align-content: center;

    &__tile {
      @include tile-size(2.75);
    }

    &__heading-1 {
      font-size: font-size(2);
      top: 20rem;
      left: 7rem;
      width: 75%;
    }
  }
}



//1366
@include respond("laptop") {
  body {
    font-size: 60%;
  }
  .projects {
    flex: 0 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: spacing(6);
    align-content: center;
    &__tile {
      height: 38rem;
      width: 28rem;
    }
    &__heading-1 {
      font-size: 2.1rem;
      top: 18.5rem;
      left: 7.3rem;
      width: 75%;
    }
  }
}

//1332
@include respond("small-laptop") {
  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: spacing(12);
  }
  
  .projects__tile {
    width: 100%;
  }
}

//1024
@include respond("chromebook") {
  body {
    overflow: auto;
  }
  .projects {
    &__tile {
      height: project-tile-height(2.5);
      // width:30rem
    }
    &__heading-1 {
      font-size: font-size(2.4);
      top: 18.6rem;
      left: 9.1rem;
      width: 75%;
    }
  }
}

@include respond("ipad") {
  body {
    overflow: auto;
  }
  .projects {    
    &__tile {
      height: project-tile-height(2.25);
    }
    &__heading-1 {
      font-size: 1.8rem;
      top: 18.5rem;
      left: 6.9rem;
      width: 75%;
    }
  }
}

@include respond("phone") {
  body {
    height: auto;
    position: static;
  }

  .header {
    overflow: hidden;
  }

  .nav.nav-active .nav__list {
    transform: translateY(0);

    &::after {
      content: none;
    }
  }

  .nav__toggler {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav__icon {
    color: $gradient-start;

    &--times {
      transform: scale(1.2) translateY(-1.2px) translateX(-5px);
      font-size: font-size(6);
    }

    &--bars {
      font-size: font-size(6);
      transform: translateY(-3.5px);
    }
  }

  .nav__list {
    top: 0;
    right: 0;
    width: 100%;
    height: calc(100vh - 8rem);
    position: absolute;
    background-color: $navy-blue;
    transition: $transition-base;
    transform: translateY(-100%);
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .nav__item {
    padding: spacing(3);
  }

  .main{
    overflow: visible;
  }

  .projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    row-gap: spacing(3);
    overflow-y: auto; 
  }

  .projects__tile {
    box-sizing: border-box;
    width: 100%; // full width of the container
    height: 100%;
    flex-basis: 80%;
    flex-direction: column;
    min-height: 40rem;
    margin: spacing(3) 0;

    &:first-child {
      margin-top: spacing(6);
    }

    &:last-child {
      margin-bottom: spacing(6);
    }
  }

  .projects__heading-1 {
    font-size: 1.8rem;
    top: 18.5rem;
    left: 6.9rem;
    width: 75%;
  }
}