&--1 {
  background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), 
  url(../../assets/img/lock.png);
}

&--2 {
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), 
  url(../../assets/img/lock.png);
}

&--3 {
  background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), 
  url(../../assets/img/lock.png);
}