body {
  font-family: "Lato", sans-serif;
}

.secondary-heading {
  font-size: font-size(3.5);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background: linear-gradient(90deg, rgba($gradient-start, 0.6), rgba($gradient-end, 0.6));
  padding: 2rem;
  
  .tile-heading-span {
    line-height: 1.4;
    display: inline;
  }
}
