body {
  font-family: "Lato", sans-serif;
}

.secondary-heading {
  font-size: font-size(3);
  color: $white;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transform: translateY(-6.8rem) translateX(-2rem);

  .tile-heading-span {
    line-height: 1.4;
    display: inline;
    padding: 0.2em 0.5em; // Padding around text to give the background some space
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background: linear-gradient(
      90deg,
      rgba($gradient-green-lightest, .85),
      rgba($gradient-green-darkest, .58)
    );

    letter-spacing: 1px;
    font-weight: 400;
  }
}
