.hidden {
  display: none !important;
}

.visible {
  display: inline-block;
}

.no-scroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

.margin-bottom-small{
  margin-bottom: 1.6rem !important;
}
