// Flexbox
@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin flex-align($align-items: center, $justify-content: center) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

// Mixins
@mixin responsive-container($max-width: 1440px) {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
}

// Media Queries
// Media Queries
@mixin respond($breakpoint) {
  $breakpoints: (
    'phone': 600px,      // equivalent to 37.5em for 16px base
    'tab-port': 900px,   // equivalent to 56.25em for 16px base
    'tab-land': 1085px,  // equivalent to 75em for 16px base
    'tablet': 768px,
    'laptop': 1024px,
    'big-desktop': 1800px, // equivalent to 112.5em for 16px base
    'desktop': 1415px,
    'large-desktop': 1533px,
    'ultrawide': 1999px,
  );

  @media only screen and (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

// Background Image
@mixin background-image($image) {
  background: {
    image: url($image);
    size: cover;
    position: center center;
    repeat: no-repeat;
  }
}

// Centering
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Box Shadow
@mixin box-shadow-hover($shadow) {
  transition: box-shadow 0.3s ease;
  &:hover {
    box-shadow: $shadow;
  }
}

// List Styling
@mixin list-styling {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin tile-size($step) {
  width: project-tile-width($step);
  height: project-tile-height($step);
}

@mixin margin-padding($margin, $padding) {
  margin: spacing($margin);
  padding: spacing($padding);
}

@mixin image-styles {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-size: cover;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

@mixin apply-heading($level) {
  font-size: get-heading-size($level);
}
