@use 'sass:map';

// Base Colors
$blue: #2874a6;
$gray: #808b96;
$green: #229954;
$white: #f2f3f4;
$navy-blue: #34495e;
$black: #000;
$orange: #f3941e;
$background-color: #28b42f;
$gradient-start: #7ed56f;
$gradient-end: #66bb6a;
$gradient-green-lightest: #2be164;
$gradient-green-darkest: #03a832;

// Blue variations
$blue-lighter: lighten($blue, 40%);
$blue-light: lighten($blue, 20%);
$blue-dark: darken($blue, 20%);

// Gray variations
$gray-light: lighten($gray, 20%);
$gray-dark: darken($gray, 20%);

// Green variations
$green-very-light: lighten($green, 60%);
$green-lighter: lighten($green, 40%);
$green-light: lighten($green, 50%);
$green-slightly-light: lighten($green, 5%);
$green-dark: darken($green, 10%);
$green-very-dark: darken($green, 30%);
$green-slightly-dark: darken($green, 5%);
$green-lighter-dark: lighten($green-dark, 20%);
$gradient-green-light: 43, 225, 100, 0.6;
$gradient-green-dark: 3, 168, 50, 0.6;

//Font Colors
$green-font: #274c28;
// White
$white-light: lighten($white, 20%);
$white-dark: darken($white, 20%);

//Github Icon Color
$github: #181717;

// Fonts
$font-main: 'Lato', sans-serif;
$font-size-base: 62.5%;

// Line Heights
$line-height: (
  large: 1.7,
  base: 1.5,
  heading: 1.2,
  heading-small: 1.1
);

// Transitions
$transition-base: all 0.3s ease-in-out;

// Border Radius
$border-radius: 4px;

// Spacing - 8pt Grid System
$spacing: (
  1: 0.8rem,
  2: 1.6rem,
  3: 2.4rem,
  4: 3.2rem,
  5: 4rem,
  6: 4.8rem,
  7: 5.6rem,
  8: 6.4rem,
  9: 7.2rem,
  10: 8rem,
  11: 8.8rem,
  12: 9.6rem,
  13: 10.4rem,
  14: 11.2rem,
  15: 12rem,
  16: 12.8rem,
  17: 13.6rem,
  18: 14.4rem,
  19: 15.2rem,
  20: 16rem
);

// Font Sizes
$font-sizes: (
  1: 1rem,
  1.5: 1.4rem,
  2: 1.6rem,
  2.5: 2rem,
  3: 2.4rem,
  3.5: 2.8rem,
  4: 3.2rem,
  5: 4rem,
  6: 4.8rem,
  7: 5.6rem,
  8: 6.4rem,
  9: 7.2rem,
  10: 8rem,
  11: 9rem,
  12: 10rem,
  13: 11rem,
  14: 12rem,
  15: 13rem,
  16: 14rem
);

$font-weights: (
  light: 300,
  normal: 400,
  bold: 700
);

//default width for cards
$project-tile-width: 30rem;
$project-tile-height: 30rem;


$aspect-ratio: #{3/2};  






$transition-duration: 0.3s;
//Shadows
$shadow-light: 0 1rem 2rem rgba(0, 0, 0, 0.19),
  0 0.6rem 0.6rem rgba(0, 0, 0, 0.23);

$shadow-dark: 0 0.6rem 0.6rem rgba(0, 0, 0, 0.23);

//Headings
$heading-sizes: (
  'h1': font-size(16),
  // equivalent to 16rem or 160px
  'h2': font-size(14),
  // equivalent to 14rem or 140px
  'h3': font-size(12),
  // equivalent to 12rem or 120px
  'h4': font-size(4),
  // equivalent to 4rem or 40px
  'h5': font-size(2),
  // equivalent to 2rem or 20px
  'h6': font-size(1.5) // equivalent to 1.5rem or 15px,,,
);
