// base/_variables.scss

// Typography
$font-family-base: 'Lato', sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

// Colors
$color-primary: #66CC7B; // primary green
$color-primary-dark: #2E7C48;
$color-primary-light: #8EE09B;
$color-primary-lighter: #B3F0C1;

$color-bg: #F7F7F7; // general page background
$color-text: #333333; // main text color
$color-text-light: #666666; // secondary text
$color-highlight-bg: #E8F4FA; // subtle secondary background

$color-accent-orange: #FF7E29; // bright accent color