.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: spacing(9);
  height: 100%;
  width: 100%;

  position: relative;

  &__image {
    padding-top: 75%; // 16:9 Aspect Ratio
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-blend-mode: screen;
      background-color: rgba($gradient-start, 0.1);
      background-image: url(../../assets/img/lock.png);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    margin-top: -3.2rem;
  }

  &__heading {
    &--1 {
      color: $white;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: absolute;
      top: 15.1vh;
      right: 1vw;
      font-size: 2rem;
      overflow: hidden;
    }

    &-span--1,
    &-span--2 {
      display: inline;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      background: linear-gradient(
        90deg,
        rgba($gradient-green-lightest, 0.8),
        rgba($gradient-green-darkest, 0.8)
      );
      letter-spacing: 1px;
      font-weight: map-get($font-weights, "normal");
      padding: 0.2rem 0.6rem;
      letter-spacing: 0.4px;
    }
  }

  &__tile {
    &:nth-child(1) {
      z-index: 4; // Highest for the left-most card
    }
    &:nth-child(2) {
      z-index: 3;
    }
    &:nth-child(3) {
      z-index: 2;
    }
    &:nth-child(4) {
      z-index: 1; // Lowest for the right-most card
    }

    &__qr-container {
      width: 80%;
      max-width: 200px; /* adjust as needed */

      .qr-code {
        width: 100%;
        height: auto; /* maintain aspect ratio */
      }
    }

    animation: bob 3s infinite;

    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    @include card-size(3.5);
    perspective: 1500px;
    position: relative;
    box-shadow: $shadow-light;
    background-color: darken($green-light, 5%);
    border-radius: $border-radius;

    &__front,
    &__back {
      @include absolute-center;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transition: transform 0.7s ease-out;
      border-radius: $border-radius;
    }

    &__front {
      background-image: linear-gradient(
        to bottom right,
        $green-light,
        $gradient-end
      );
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    &__back {
      transform: rotateY(180deg);
      background-color: darken($gradient-end, 5%);
    }

    &:hover &__front {
      transform: rotateY(180deg);
    }

    &:hover &__back {
      transform: rotateY(360deg);
    }
  }

  &__subheading,
  &__text {
    color: $green-font;
    margin: 0 10%;
    line-height: lh(large);
  }

  &__text {
    font-size: font-size(2);
    line-height: lh(large);
  }

  &__subheading {
    display: flex;
    flex-flow: column nowrap;
    font-size: font-size(2);
    line-height: lh(heading);
    margin-bottom: spacing(2);
  }
}
