.projects {
  perspective: 1000px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  flex: 1 0 auto;
  height: 100%;
  background: linear-gradient(
      to right,
      rgba($gradient-start, 0.2),
      rgba($gradient-end, 0.2)
    ),
    url("../../assets/img/life-background.png");
  background-size: cover;
  background-position: 50% 44%;

  &__tile {
    background-color: $blue-light;
    @include tile-size(3);
    @include margin-padding(2.4, 2.4);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.19),
      0 0.6rem 0.6rem rgba(0, 0, 0, 0.23);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 1rem;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;

    &__front,
    &__back {
      position: absolute;
      backface-visibility: hidden;
    }

    &__front {
      // Front content styles go here.
    }

     &__back {
      transform: rotateY(180deg);
      // Back content styles go here.
    }


   &:hover {
      transform: rotateY(180deg);
    }

   

    @include respond("ultrawide") {
      @include tile-size(3);
    }

    @include respond("large-desktop") {
      @include tile-size(2.5);
    }

    @include respond("desktop") {
      @include tile-size(2);
    }

    @include respond("laptop") {
      @include tile-size(1.5);
      flex-basis: auto; // Reset flex-basis
      flex-direction: column;
      //makes the cards in a 2 by 2 grid with this width and min-height
      width: 34%;
      min-height: 38.9rem;
    }

    @include respond("tablet") {
      width: 40%;
      min-height: 32.9rem;
    }
  }
}

@include respond("phone") {
  .projects {
    gap: 4.8rem;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    padding: 0 2.4rem;

    &__tile {
      flex-direction: column;
      min-height: 40rem;
      width: 85%;

      &:first-child {
        margin-top: 4.8rem;
      }

      &:last-child {
        margin-bottom: 4.8rem;
      }
    }
  }
}
