.projects {
  perspective: 1000px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  flex: 1 0 auto;
  height: 100%;

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
  }

  &__subtitle {
    position: relative;
    top: -3.9rem;
    font-size: font-size(2);
    // flex: 1 1 auto;
    max-width: 80%;
    color: $green-font;
    // margin: 1rem;

    align-self: center;
    // text-align: left;
    // padding-top: 1rem;
    line-height: lh(large);
    font-size: font-size(2.5);
    flex: 1;
    // display:flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    padding: spacing(3);
  }

  &__heading-span {
    display: block;
    background: linear-gradient(
      to right bottom,
      rgba($gradient-start, 0.85),
      rgba($gradient-end, 0.85)
    );

    padding: 0.4rem 1.2rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-weight: bold;

    &--1 {
      transform: scaleX(1.05) scaleY(20);
      background-image: linear-gradient(
        to right bottom,
        rgba($green-light, 0.85),
        rgba($green-dark, 0.85)
      );
    }
  }

  &__tile {
    border-radius: $border-radius;
    background-image: linear-gradient(
      to bottom right,
      $green-light,
      $gradient-end
    );
    @include tile-size(4);
    @include margin-padding(2.4, 2.4);
    border-radius: $border-radius;
    box-shadow: $shadow-light, $shadow-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
    will-change: transform;

    &__front,
    &__back {
      position: absolute;
      backface-visibility: hidden;
    }

    &__front {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &--image-1 {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        background: linear-gradient(
            to bottom right,
            rgba($gradient-start, 0.1),
            rgba($gradient-end, 0.1)
          ),
          url(../../assets/img/lock.png);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        @include image-styles;
        height: 29.5rem;
      }

      &__heading {
        background: linear-gradient(
          to bottom right,
          rgba($gradient-start, 0.6),
          rgba($gradient-end, 0.6)
        );
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        padding: 0.2rem;
      }
    }
    @include respond("large-desktop") {
    }
  }

  @include respond("desktop") {
  }

  @include respond("tab-land") {
    gap: spacing(4);
    padding: spacing(4);
  }

  @include respond("tablet") {
    gap: spacing(4);
    padding: spacing(3) spacing(3);
  }

  @include respond("phone") {
    gap: spacing(6);

    &__tile {
      flex-basis: 80%;
      flex-direction: column;
      min-height: 40rem;
      margin: spacing(3) 0;

      &:first-child {
        margin-top: spacing(6);
      }

      &:last-child {
        margin-bottom: spacing(6);
      }
    }
  }
}
