.projects {
  width: 100%;
  perspective: 1500px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  flex: 1 0 auto;
  height: 100%;

  &__tile {
    border-radius: $border-radius;
    background-image: linear-gradient(
      to bottom right,
      $green-light,
      $gradient-end
    );

    @include tile-size(4);
    @include margin-padding(2.4, 2.4);
    box-shadow: $shadow-light, $shadow-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
    transform-origin: center;

    // &__heading-span {
    //   &--1 {
    //     color: $green-font;
    //     font-size: font-size(2.5);
    //     font-weight: 300;
    //     text-transform: uppercase;
    //     letter-spacing: 1px;
    //     line-height: 1.2;
    //     margin-bottom: spacing(1);
    //   }
    // }

    &:hover {
      transform: rotateY(180deg);
    }

    &__front,
    &__back {
      backface-visibility: hidden;
      transform-style: preserve-3d;
    }

    &__front {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &--image-1 {
        flex: 0 1 54%;
        border-radius: $border-radius;
        overflow: hidden;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        background-color: rgba($gradient-start, 0.1);
        background-image: url(../../assets/img/lock.png);
        background-blend-mode: lighten;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        @include image-styles;
      }
    }

    &__back {
      transform: rotateY(180deg);
    }
  }

  &__heading {
    font-size: font-size(3.5);
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $white;
    position: absolute;
    top: 21rem;
    left: 8rem;
    width: 75%;

    &-span {
      &--1 {
        
        
      }
    }

 .projects__tile__heading-span--1{
  padding: 1rem 1.5rem;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        background-image: linear-gradient(
          to right bottom,
          rgba($gradient-green-lightest, 0.95),
          rgba($gradient-green-darkest, 0.55)
        );
 }
  
 
    // overflow: hidden;
    // font-weight: 300;
    // line-height: 1 1.2;
    // box-decoration-break: clone;

    // letter-spacing: 1px;
    // font-weight: map-get($font-weights, "normal");
  }

  &__subheading {
    text-transform: uppercase;
    font-size: font-size(2);
    width: 80%;
    align-self: center;
    flex: 1 1 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: $green-font;
    padding-bottom: spacing(2.5);

    &__1,
    &__2 {
      max-width: 80%;
    }
  }

  &__subtitle {
    max-width: 80%;
    color: $green-font;
    align-self: center;
    line-height: lh(large);
    font-size: font-size(2);
    text-align: left;
    flex: 1 1 31%;
  }
}
